@font-face {
  font-family: "iconfont"; /* Project id 3061590 */
  src: url('iconfont.woff2?t=1640862557860') format('woff2'),
       url('iconfont.woff?t=1640862557860') format('woff'),
       url('iconfont.ttf?t=1640862557860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ac-icon-icon-file-folder1:before {
  content: "\e64e";
}

.ac-icon-icon-file-ppt:before {
  content: "\e64a";
}

.ac-icon-icon-file-exc:before {
  content: "\e64b";
}

.ac-icon-icon-file-img:before {
  content: "\e64c";
}

.ac-icon-icon-file-doc:before {
  content: "\e64d";
}

.ac-icon-icon-file-pdf:before {
  content: "\e649";
}

.ac-icon-icon-info:before {
  content: "\e647";
}

.ac-icon-icon-set-colomn:before {
  content: "\e646";
}

.ac-icon-icon-hide-search:before {
  content: "\e645";
}

.ac-icon-move1:before {
  content: "\e643";
}

.ac-icon-delete1:before {
  content: "\e644";
}

.ac-icon-like1:before {
  content: "\e650";
}

.ac-icon-share1:before {
  content: "\e65e";
}

.ac-icon-more1:before {
  content: "\e63c";
}

.ac-icon-add1:before {
  content: "\e63d";
}

.ac-icon-download1:before {
  content: "\e63e";
}

.ac-icon-search1:before {
  content: "\e63f";
}

.ac-icon-save1:before {
  content: "\e640";
}

.ac-icon-upload1:before {
  content: "\e641";
}

.ac-icon-reset1:before {
  content: "\e642";
}

.ac-icon-icon-binding-authority1:before {
  content: "\e633";
}

.ac-icon-icon-star1:before {
  content: "\e634";
}

.ac-icon-icon-unlock1:before {
  content: "\e635";
}

.ac-icon-icon-binding-user1:before {
  content: "\e636";
}

.ac-icon-icon-delete1:before {
  content: "\e637";
}

.ac-icon-icon-edit:before {
  content: "\e638";
}

.ac-icon-icon-move1:before {
  content: "\e639";
}

.ac-icon-icon-binding-user-group1:before {
  content: "\e63a";
}

.ac-icon-icon-share1:before {
  content: "\e63b";
}

.ac-icon-icon-binding-station1:before {
  content: "\e62d";
}

.ac-icon-icon-binding-maintain1:before {
  content: "\e62e";
}

.ac-icon-icon-lock:before {
  content: "\e62f";
}

.ac-icon-icon-more1:before {
  content: "\e630";
}

.ac-icon-icon-binding-role1:before {
  content: "\e631";
}

.ac-icon-icon-download1:before {
  content: "\e632";
}

.ac-icon-down1:before {
  content: "\e651";
}

.ac-icon-icon-communication1:before {
  content: "\e652";
}

.ac-icon-icon-contact1:before {
  content: "\e653";
}

.ac-icon-icon-envelope1:before {
  content: "\e654";
}

.ac-icon-icon-authority1:before {
  content: "\e655";
}

.ac-icon-icon-group1:before {
  content: "\e65a";
}

.ac-icon-icon-mine1:before {
  content: "\e65b";
}

.ac-icon-icon-office1:before {
  content: "\e65c";
}

.ac-icon-icon-log1:before {
  content: "\e65d";
}

.ac-icon-icon-message1:before {
  content: "\e65f";
}

.ac-icon-icon-notification1:before {
  content: "\e660";
}

.ac-icon-icon-table1:before {
  content: "\e661";
}

.ac-icon-icon-my-share1:before {
  content: "\e662";
}

.ac-icon-icon-mark1:before {
  content: "\e663";
}

.ac-icon-icon-matrix1:before {
  content: "\e665";
}

.ac-icon-icon-share2:before {
  content: "\e667";
}

.ac-icon-icon-star2:before {
  content: "\e668";
}

.ac-icon-icon-file1:before {
  content: "\e669";
}

.ac-icon-icon-trash1:before {
  content: "\e66a";
}

.ac-icon-icon-template1:before {
  content: "\e66b";
}

.ac-icon-icon-file-config1:before {
  content: "\e66c";
}

.ac-icon-icon-process-define1:before {
  content: "\e66d";
}

.ac-icon-up1:before {
  content: "\e66e";
}

.ac-icon-icon-data1:before {
  content: "\e66f";
}

.ac-icon-icon-process-status1:before {
  content: "\e670";
}

.ac-icon-icon-other-share1:before {
  content: "\e671";
}

.ac-icon-icon-print1:before {
  content: "\e672";
}

.ac-icon-icon-process-case1:before {
  content: "\e673";
}

.ac-icon-icon-EN1:before {
  content: "\e658";
}

.ac-icon-icon-CN1:before {
  content: "\e659";
}

.ac-icon-icon-menu-close2:before {
  content: "\e656";
}

.ac-icon-icon-menu-open2:before {
  content: "\e657";
}

.ac-icon-logo1:before {
  content: "\e628";
}

.ac-icon-logo2:before {
  content: "\e627";
}

.ac-icon-a-app09:before {
  content: "\e611";
}

.ac-icon-a-app02:before {
  content: "\e612";
}

.ac-icon-a-app07:before {
  content: "\e613";
}

.ac-icon-a-app05:before {
  content: "\e614";
}

.ac-icon-a-app12:before {
  content: "\e615";
}

.ac-icon-a-app08:before {
  content: "\e60d";
}

.ac-icon-a-app03:before {
  content: "\e60e";
}

.ac-icon-a-app04:before {
  content: "\e60f";
}

.ac-icon-a-app01:before {
  content: "\e610";
}

